In [1]:
# 1. 팩토리얼

def factorial(N) :
  if (N == 0) or (N == 1) :
    return 1
  return N * factorial(N-1)

N = int(input())
print(factorial(N))

10
3628800

In [2]:
# 2. 피보나치 수

def pibo(N) :
  if (N == 0) :
    return 0
  elif (N == 1) :
    return 1
  return pibo(N-1) + pibo(N-2)

N = int(input())
print(pibo(N))

10
55

In [3]:
# ★★★★★
# 3. 별 찍기-10

In [4]:
# 4. 하노이 탑 이동 순서

def hanoi(N, A, B, C):
    if N == 1:
        print(A, C)
    else:
        hanoi(N-1, A, C, B)
        print(A, C)
        hanoi(N-1, B, A, C)

N = int(input())
print(2**N - 1)
hanoi(N, 1, 2, 3)

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3